// フォント
$FONT_FAMILY: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Verdana, sans-serif;

// コンテンツの最大幅
$CONTENT_WIDTH: 1000px;

// ブレイクポイント
$BREAK_POINT_MD: 800px;
$BREAK_POINT_SM: 600px;
