<% include('../assets/ejs/settings/_variables') %>
<%# __append という引数を与えないとinclude先に展開されない %>
<%# ref: https://github.com/mde/ejs/issues/252#issuecomment-439708783 %>
<% function st_main(__append) { %>
    <div class="c-container">
        <div class="top-hero">
            <h1>
                <picture>
                    <source media="(max-width: <%= BREAK_POINT_SM %>)" srcset="./top/assets/img/main_anniversary_x2.jpg">
                    <img src="./top/assets/img/main_anniversary.jpg" alt="20th Anniversary IMJ GROUP">
                </picture>
            </h1>
        </div>
        <section class="c-section" data-section-level="2">
            <div class="c-section__inner">
                <h2 class="c-heading-categoryTitle">SERVICE</h2>
                <p class="c-heading-lead">企画、データ活用、制作、運用まで、デジタルマーケティングの分野において、お客さまの価値を体現します。</p>
                <div class="c-grid" data-grid-justify="center">
                    <div class="c-grid__col" data-u-col="4" data-u-col-md="5" data-u-col-sm="12">
                        <a href="#" class="c-button">
                            <div class="c-button__inner">
                                <span class="c-button__icon" aria-hidden="true"></span>
                                <span class="c-button__txt">サービス一覧</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="c-card-group" data-card-slide="true" data-card-slide-sm="false">
                    <div class="c-card-group__item" data-u-col="6" data-u-col-sm="12" data-card-slide-offset>
                        <a class="c-card--link" href="#" data-card-direction="column">
                            <div class="c-card__section">
                                <div class="c-card__img"><img src="./top/assets/img/service.jpg" alt="" title=""></div>
                            </div>
                            <div class="c-card__section">
                                <div class="c-card__block">
                                    <h3 class="c-card__title"><span class="c-link-iconEmphasis">デジタルマーケティング企画</span></h3>
                                    <p class="c-card__text">キャンペーンや製品プロモーションなどデジタルマーケティング戦略立案の視点から企画を行います。</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="c-card-group__item" data-u-col="6" data-u-col-sm="12">
                        <a class="c-card--link" href="#" data-card-direction="column">
                            <div class="c-card__section">
                                <div class="c-card__img"><img src="./top/assets/img/service_2.jpg" alt="" title=""></div>
                            </div>
                            <div class="c-card__section">
                                <div class="c-card__block">
                                    <h3 class="c-card__title"><span class="c-link-iconEmphasis">データ活用</span></h3>
                                    <p class="c-card__text">NPS調査やユーザー行動調査などデータ活用環境構築を行います。</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="c-card-group__item" data-u-col="6" data-u-col-sm="12" data-card-slide-offset>
                        <a class="c-card--link" href="#" data-card-direction="column">
                            <div class="c-card__section">
                                <div class="c-card__img"><img src="./top/assets/img/service_3.jpg" alt="" title=""></div>
                            </div>
                            <div class="c-card__section">
                                <div class="c-card__block">
                                    <h3 class="c-card__title"><span class="c-link-iconEmphasis">制作</span></h3>
                                    <p class="c-card__text">アプリケーション開発、CMS開発などコミュニケーションデザインとWEBサイト構築を行います。</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="c-card-group__item" data-u-col="6" data-u-col-sm="12">
                        <a class="c-card--link" href="#" data-card-direction="column">
                            <div class="c-card__section">
                                <div class="c-card__img"><img src="./top/assets/img/service_4.jpg" alt="" title=""></div>
                            </div>
                            <div class="c-card__section">
                                <div class="c-card__block">
                                    <h3 class="c-card__title"><span class="c-link-iconEmphasis">運用</span></h3>
                                    <p class="c-card__text">サイト運用はもちろん、SNSやアクセス解析などを用いたPDCA運用体制の構築を行います。</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="c-section" data-section-level="2">
            <div class="c-section__inner">
                <h2 class="c-heading-categoryTitle">COMPANY</h2>
                <p class="c-heading-lead">IMJ グループは、創業事業であるWeb 及びモバイルインテグレーションにおける豊富な知見・ノウハウ・導入実績を強みにし、環境変化にともなう生活者ニーズと企業ニーズにマッチした様々なマーケティングソリューションを創造し続けています。</p>
            </div>
            <div class="c-grid-fluid">
                <div class="c-grid">
                    <div class="c-grid__col" data-u-col="12">
                        <div class="c-card" data-card-bgcolor="transparent" data-card-direction="row" data-card-direction-sm="column" data-card-slide="true" data-card-slide-sm="false">
                            <div class="c-card__section" data-u-col="6" data-u-col-sm="12" data-card-justify="end" data-card-slide-offset style="background-color: #bb0000;">
                                <div class="c-card__img">
                                    <picture>
                                        <source media="(max-width: <%= BREAK_POINT_SM %>)" srcset="./top/assets/img/company_x2.png">
                                        <img src="./top/assets/img/company.png" alt="デジタルの力で生活者の体験を豊かにする Upgrading User Experience with Digital.">
                                    </picture>
                                </div>
                            </div>
                            <div class="c-card__section" data-u-col="6" data-u-col-sm="12" style="background-color:#bfd0d5;">
                                <div class="c-card__img">
                                    <picture>
                                        <source media="(max-width: <%= BREAK_POINT_SM %>)" srcset="./top/assets/img/company_2_x2.jpg">
                                        <img src="./top/assets/img/company_2.jpg" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="c-section" data-section-level="2">
            <div class="c-section__inner">
                <h2 class="c-heading-categoryTitle">IMJ&nbsp;LAB.</h2>
                <p class="c-heading-lead">デジタルマーケティングに関する有益な情報の共有やR&amp;D（研究開発）ユニットによるプロトタイプ事例をご紹介します。</p>
                <div class="c-grid" data-grid-justify="center">
                    <div class="c-grid__col" data-u-col="4" data-u-col-md="5" data-u-col-sm="12">
                        <a href="#" class="c-button">
                            <div class="c-button__inner">
                                <span class="c-button__icon" aria-hidden="true"></span>
                                <span class="c-button__txt">IMJ&nbsp;LAB.一覧</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="c-grid">
                    <div class="c-grid__col" data-u-col="4" data-u-col-sm="12" data-grid-col-flex>
                        <a class="c-card--link" href="#" data-card-direction="column" data-card-direction-sm="row">
                            <div class="c-card__section" data-u-col-sm="4">
                                <div class="c-card__img"><img src="./top/assets/img/lab.jpg" alt="" title=""></div>
                            </div>
                            <div class="c-card__section" data-u-col-sm="8">
                                <div class="c-card__block">
                                    <h3 class="c-card__title"><span class="c-link-iconEmphasis">調査レポート</span></h3>
                                    <p class="c-card__text">市場のトレンドに合ったコンテンツを調査し、レポート形式で発信していきます。</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="c-grid__col" data-u-col="4" data-u-col-sm="12" data-grid-col-flex>
                        <a class="c-card--link" href="#" data-card-direction="column" data-card-direction-sm="row">
                            <div class="c-card__section" data-u-col-sm="4">
                                <div class="c-card__img"><img src="./top/assets/img/lab_2.jpg" alt="" title=""></div>
                            </div>
                            <div class="c-card__section" data-u-col-sm="8">
                                <div class="c-card__block">
                                    <h3 class="c-card__title"><span class="c-link-iconEmphasis">コラム</span></h3>
                                    <p class="c-card__text">マーケティングやサイト制作に関しての評価や考え方をコラム形式で発信していきます。</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="c-grid__col" data-u-col="4" data-u-col-sm="12" data-grid-col-flex>
                        <a class="c-card--link" href="#" data-card-direction="column" data-card-direction-sm="row">
                            <div class="c-card__section" data-u-col-sm="4">
                                <div class="c-card__img"><img src="./top/assets/img/lab_3.jpg" alt="" title=""></div>
                            </div>
                            <div class="c-card__section" data-u-col-sm="8">
                                <div class="c-card__block">
                                    <h3 class="c-card__title"><span class="c-link-iconEmphasis">研究開発</span></h3>
                                    <p class="c-card__text">「アイデアとテクノロジーで世の中に！を。」をコンセプトにしたユニット「すまのべ！」。 </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
<% } %>

<% function localCss(__append) { %>
    <link rel="stylesheet" href="./top/assets/css/local.css" media="all">
<% } %>

<% const data = {
    st_main: st_main,
    localCss: localCss,
} %>

<%- include('../assets/ejs/_template', data) %>
