<footer class="st-footer" role="contentinfo">
  <div class="st-footer__utility">
    <div class="st-footer__inner">
      <ul class="st-footer__infoNav">
        <li><a class="st-footer__link" href="#">ACCESS</a></li>
        <li><a class="st-footer__link" href="#">MAP</a></li>
        <li><a class="st-footer__link" href="#">ABOUT THIS SITE</a></li>
        <li><a class="st-footer__link" href="#">SECURITY POLICY</a></li>
        <li><a class="st-footer__link" href="#">PRIVACY POLICY</a></li>
        <li><a class="st-footer__link" href="#">TRADEMARKS</a></li>
        <li><a class="st-footer__contact" href="#">CONTACT</a></li>
      </ul>
      <p class="st-footer__copyright">Copyright &copy; 2016 IMJ Corporation. All Rights Reserved.</p>
    </div>
  </div>
</footer>
