<header class="st-header" role="banner">
  <div class="st-header__content">
    <div class="st-header__inner">
      <p class="st-header__logo">
        <a href="#"><img class="st-header__logo__img" src="./assets/img/structures/logo.svg" alt="IMJ Group"></a>
      </p>
      <button id="js-header-navBtn" class="st-header__navBtn" aria-label="ナビゲーション" aria-controls="js-header-nav" aria-expanded="true">
        <span class="st-header__navBtn__icon js-header-navBtn__icon"></span>
      </button>
      <nav id="js-header-nav" class="st-header__nav" role="navigation">
        <ul class="st-header__globalNav">
          <li><a class="st-header__globalNav__link" href="#">SERVICE</a></li>
          <li><a class="st-header__globalNav__link" href="#">WORKS</a></li>
          <li><a class="st-header__globalNav__link" href="#">NEWS / SEMINAR</a></li>
          <li><a class="st-header__globalNav__link" href="#">COMPANY</a></li>
          <li><a class="st-header__globalNav__link" href="#">IMJ LAB.</a></li>
          <li><a class="st-header__globalNav__link" href="#">RECRUIT</a></li>
        </ul>
        <ul class="st-header__infoNav">
          <li><a class="st-header__english" href="#">ENGLISH</a></li>
          <li><a class="st-header__contact" href="#">CONTACT</a></li>
          <li>
            <div id="js-header-search" class="st-header__search" aria-label="サイト内検索" aria-controls="js-header-search__form" aria-expanded="false">
              <form id="js-header-search__form" class="st-header__search__form" role="search">
                <input class="st-header__search__input" type="text">
                <button class="st-header__search__button" type="submit"></button>
              </form>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
