$_header-topHeight: 39px;
$_header-md-innerHeight: 50px;

.st-header {
  position: relative;
  z-index: $Z_ST_HEADER;
  background: #000;
  padding-top: rem($_header-topHeight);
  border-bottom: 1px solid #ccc;
  @include max-screen($BREAK_POINT_MD){
    padding-top: 10px;
  }
}

.st-header__content {
  background: #fff;
}

.st-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: $CONTENT_WIDTH;
  margin: 0 auto;
  padding: 0 15px;
  @include  max-screen($BREAK_POINT_MD){
    height: rem($_header-md-innerHeight);
  }
}

.st-header__infoNav {
  display: flex;
  align-items: center;
  position: absolute;
  top: -(rem($_header-topHeight));
  right: 15px;
  height: rem($_header-topHeight);
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    padding-left: 30px;
  }

  @include max-screen($BREAK_POINT_MD) {
    display: block;
    position: static;
    right: auto;
    height: auto;
    > li {
      padding-left: 0;
    }
  }
}

.st-header__logo {
  margin: 0;
  .st-header__logo__img {
    display: block;
    width: 110px;
    height: 58px;
    @include max-screen($BREAK_POINT_MD) {
      width: 55px;
      height: auto;
    }
  }
}

.st-header__navBtn {
  display: none;
  @include max-screen($BREAK_POINT_MD) {
    align-self: stretch;
    display: block;
    cursor: pointer;
    border-radius: 0;
    -webkit-appearance: button;
    -moz-appearance: button;
    border: none;
    padding: 0;
    background: none;
  }
}

.st-header__navBtn__icon {
  display: block;

  @include max-screen($BREAK_POINT_MD) {
    $width: 17px;
    $height: 2px;
    $bgColor: #000;
    position: relative;
    display: block;
    width: $width;
    height: $height;
    background-color: $bgColor;
    transition: background-color 0.1s linear;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: $width;
      height: $height;
      background-color: $bgColor;
      transition: transform 0.2s linear;
    }
    &::before {
      top: -5px;
    }
    &::after {
      top: 5px;
    }
    &.is-nav-open {
      background-color: transparent;
      &::before {
        top: 50%;
        transform: rotate(45deg);
      }
      &::after {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }
}


.st-header__nav {
  flex-grow: 3;
  @include max-screen($BREAK_POINT_MD) {
    flex-grow: 0;
    display: none;
    position: absolute;
    top: rem($_header-md-innerHeight + 1);
    left: 0;
    width: 100%;
  }
}

%st-header__english {
  @include rem(font-size, 13px);
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin: 0;

  @include max-screen($BREAK_POINT_MD){
    @include rem(font-size, 15px);
    @include rem(height, 54px);
    display: flex;
    align-items: center;
    background-color: #000;
    border-bottom: 1px solid #404040;
    padding: 0 15px;
  }
}

.st-header__english{
  @extend %st-header__english;
}

.st-header__contact {
  @extend %st-header__english;
  &::before {
    @include st-i-contact(26px);
    margin-right: 5px;
    vertical-align: middle;
  }
  //@include max-screen(1000px) {
  //  &::before {
  //    display: none;
  //  }
  //}
}

%st-header__searchIcon {
  @include st-i-search(20px);
  vertical-align: middle;
}

.st-header__search {
  &:hover {
    cursor: pointer;
  }
  &::before {
    @extend %st-header__searchIcon;
  }

  &[aria-expanded="true"] {
    &:hover {
      cursor: default;
    }
    &::before {
      display: none;
    }
  }
  @include max-screen($BREAK_POINT_MD) {
    background: #000;
    &::before {
      display: none;
    }
  }
}

.st-header__search__form {
  display: none;
  &.is-search-open {
    display: flex;
  }
  @include max-screen($BREAK_POINT_MD) {
    @include rem(height, 54px);
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
  .st-header__search__input {
    width: 100%;
    margin-right: 15px;
  }
  .st-header__search__button {
    border-radius: 0;
    padding: 0;
    appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;
    background: none;
    border: none;
    &::before {
      @extend %st-header__searchIcon;
    }
  }
}

.st-header__logo {
  margin: 0;
  flex-grow: 1;
  @include max-screen($BREAK_POINT_MD) {
    flex-grow: 0;
  }
}

.st-header__globalNav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  > li {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    transition: background-color 0.2s linear;
    &:hover {
      background-color: #e4e4e4;
    }
  }

  @include max-screen($BREAK_POINT_MD) {
    display: block;
    > li {
      display: block;
    }
  }
}

.st-header__globalNav__link {
  @include rem(height, 100px);
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-weight: bold;

  @include max-screen($BREAK_POINT_MD) {
    @include rem(font-size, 15px);
    @include rem(height, 54px);
    background-color: #ddd;
    border-bottom: 1px solid #fff;
    padding: 0 15px;
  }
}
