<% _.forEach(svg, function(svgItem) { %>
  @mixin <%=common %>-i-<%=svgItem.name%>($size, $display: inline-block) {
    content: '';
    display: $display;
    width: rem($size * <%= svgItem.relWidth %>);
    height: rem($size * <%= svgItem.relHeight %>);
    background-image: url("<%=svgPath%>");
    background-repeat: no-repeat;
    background-position: rem($size * <%= svgItem.relPositionX %>) rem($size * <%= svgItem.relPositionY %>);
    background-size: rem($size * <%= relWidth %>) rem($size * <%= relHeight %>);
  }
    @mixin <%=common %>-i-<%=svgItem.name%>-size($size) {
    width: rem($size * <%= svgItem.relWidth %>);
    height: rem($size * <%= svgItem.relHeight %>);
    background-position: rem($size * <%= svgItem.relPositionX %>) rem($size * <%= svgItem.relPositionY %>);
    background-size: rem($size * <%= relWidth %>) rem($size * <%= relHeight %>);
  }
    @mixin <%=common %>-i-<%=svgItem.name%>-module($display: inline-block) {
    content: '';
    display: inline-block;
    width: <%= svgItem.relWidth %>em;
    height: <%= svgItem.relHeight %>em;
    background-image: url("<%=svgPath%>");
    background-repeat: no-repeat;
    background-position: <%= svgItem.relPositionX %>em <%= svgItem.relPositionY %>em;
    background-size: <%= relWidth %>em <%= relHeight %>em;
  }
<% }); %>
