@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}

/* --------------------------------
 *  custom
 * -------------------------------- */

.header {
  width: 100%;
  padding: 28px 0 10px;
  background: url("../images/bg-header.gif") repeat-x;
  box-shadow: 0 0 10px 1px #e3e3e3;
  text-align: center;
}

.wrapper {
  width: 970px;
  margin: 30px auto 40px;
  display: flex;
  justify-content: space-between;
  height: 1500px
}

.main {
  width: 660px;
}

.sidemenu {
  width: 275px;
}

.logo {
  width: 225px;
  height: 56px;
  background: url("../images/logo.png");
  margin: 0 auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

nav {
  display: inline-block;
  padding-top: 15px;
  margin: 0 auto;
}

header nav li {
  display: inline-block;
}

header nav li {
  display: inline-block;
  /*background-color: #f99;*/
  width: 100px;
  height: 30px;
  margin: 0 10px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

header nav li.active,
header nav li:hover{
  color: #ffffff;
  background-color: #d03c56;
}

.clearfix::after {
  clear: both;
}

.hidden {
  display: none;
}

.hot-topic {
  display: block;
  height: 300px;
  margin-bottom: 30px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
}

.hot-topic:hover {
  opacity: 0.85;
}

.hot-topic img {
  float: left;
  width: 50%;
  height: 100%;
}

.hot-topic .content {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  padding: 105px 25px 0;
  background-color: #2d3d54;
  line-height: 1.6;
}

.hot-topic .title {
  margin-bottom: 15px;
  color: #fff;
  font-weight: normal;
  font-size: 2.0rem;
}

.hot-topic .desc {
  color: #ddc;
}

.hot-topic .date {
  position: absolute;
  top: 60px;
  left: 0;
  width: 140px;
  padding: 4px;
  background-color: #ffffff;
  color: #2d3d54;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1;
}

.heading {
  padding: 10px 12px;
  background: url("../images/bg-slash.gif");
  letter-spacing: 1px;
}

.scroll-list {
  list-style-type: none;
  max-height: 220px;
  overflow-y: auto;
}

.scroll-list .scroll-item a {
  display: block;
  padding: 10px 15px;
  color: #333;
  font-size: 0;
}

.scroll-list .scroll-item:nth-of-type(even) a {
  background: url("../images/bg-slash.gif");
}

.scroll-list .scroll-item a:hover {
  background-color: #fafaf8;
}

.scroll-list * {
  box-sizing: border-box;
  font-size: 1rem;
}

.scroll-list .date {
  display: inline-block;
  width: 19%;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1rem;
}

.scroll-list .category {
  display: inline-block;
  width: 8%;
  font-size: 1.0rem;
  line-height: 16px;
  background-color: #d03c56;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
}

.scroll-list .category.news {
  background-color: #2c3c53;
}

.scroll-list .title {
  display: inline-block;
  width: 73%;
  font-size: 1.2rem;
  padding-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.article-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.article-box {
  position: relative;
  display: block;
  width: 315px;
  height: 360px;
  margin-bottom: 30px;
  padding: 210px 15px 0;
  box-shadow: 6px 6px 8px -4px rgba(0,0,0,0.15);
}

.article-box:hover {
  opacity: 0.75;
}

.article-box .image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.article-box .title {
  margin-top: 30px;
  color: #555555;
  font-size: 1.4rem;
  line-height: 1.6;
}

.article-box .desc {
  margin-top: 5px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-box .date {
  display: block;
  width: 160px;
  position: absolute;
  bottom: 15px;
  right: 0;
  color: #333333;
  background-color: #bc6;
  padding: 4px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.1rem;
}

/*
 * サイドメニュー
*/
.sidemenu h2 {

}

.sidemenu .ranking　{

}

.ranking {
  list-style-type: none;
  counter-reset: ranking;
  margin-bottom: 30px;
}

.ranking-item {
  margin-top: 15px;
}

.ranking-item a {
  position: relative;
  display: block;
  font-size: 0;
}

.ranking-item a:hover {
  opacity: 0.75;
}

.ranking-item .image {
  display: inline-block;
  width: 55px;
  height: 55px;
}

.order::before {
  content: counter(ranking);
  counter-increment: ranking;
  display: inline-block;
  font-size: 1.0rem;
}

.ranking-item .order {
  position: absolute;
  top: 0;
  left: 55px;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 1.0rem;
  background-color: #fff;
  text-align: center;
  border: 1px solid #999;
  border-radius: 50%;
  vertical-align: 20px;
  font-weight: bold;
  line-height: 16px;
  transition: 0.3s;
}

.ranking-item .order:hover {
  transform: translate(-50%, -50%) rotate(360deg);
}

.ranking .ranking-item:nth-of-type(1) .order,
.ranking .ranking-item:nth-of-type(2) .order,
.ranking .ranking-item:nth-of-type(3) .order {
  border: none;
  color: #ffffff;
  font-weight: normal;
  line-height: 18px;
}

.ranking .ranking-item:nth-of-type(1) .order {
  background-color: #dab413;
}

.ranking .ranking-item:nth-of-type(2) .order {
  background-color: #99f;
}

.ranking .ranking-item:nth-of-type(3) .order {
  background-color: #c77;
}

.ranking-item .text {
  display: inline-block;
  font-size: 1.2rem;
  /*width: 182px;*/
  width: 220px;
  padding-left: 20px;
  vertical-align: top;
  line-height: 1.5;
}

ul.documents {
  list-style-type: none;
  margin: 10px 10px 30px;
}

ul.documents > li + li {
  margin-top: 25px;
}

ul.documents > li ul {
  list-style-type: none;
  margin: 15px;
}

ul.documents > li ul > li {
  margin-bottom: 15px;
  padding-left: 10px;
  background: url("../images/arrow.gif") no-repeat left center;
}

.documents .title {
  border-left: #d03c56 solid 5px;
  padding-left: 5px;
  margin: 15px 0;
  font-size: 1.4rem;
  line-height: 1.2;
}

.search-box {
  padding: 15px;
  background-color: #cccccc;
  font-size: 0;
}

.search-box > * {
  font-size: 1.2rem;
}

.search-box .search-input {
  width: 205px;
  height: 26px;
  padding: 0 10px;
  border: none;
}

.search-box .search-button {
  cursor: pointer;
  width: 40px;
  height: 26px;
  border: none;
  background-color: #d03c56;
}

.search-box .text {
  margin-top: 12px;
}


.footer {
  width: 100%;
  height: 100px;
  background: #2d3d54 url("../images/bg-footer.gif");
  color: #ffffff;
  padding: 20px 0 30px;
}

.footer .horizontal-list {
  width: 970px;
  margin: 0 auto;
  text-align: right;
}

.footer .horizontal-list a {
  color: #bbb;
  border-bottom: 1px dashed #777;
  text-transform: uppercase;
}

.footer .horizontal-list .horizontal-item {
  display: inline-block;
  padding: 0 15px;
  letter-spacing: 1px;
}
.horizontal-item + .horizontal-item {
  border-left: 1px solid #bbb;
}

.copyright {
  margin-top: 30px;
  letter-spacing: 1px;
  text-align: center;
}